[submodule "vim/libs/pathogen"]
    path = vim/libs/pathogen
    url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/libs/genutils"]
    path = vim/libs/genutils
    url = https://github.com/vim-scripts/genutils.git
[submodule "vim/libs/l9"]
    path = vim/libs/l9
    url = https://github.com/git-mirror/vim-l9.git
    ignore = untracked
[submodule "vim/bundle/fugitive"]
    path = vim/bundle/fugitive
    url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/gundo"]
    path = vim/bundle/gundo
    url = https://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/nerdcommenter"]
    path = vim/bundle/nerdcommenter
    url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/nerdtree"]
    path = vim/bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/selectbuf"]
    path = vim/bundle/selectbuf
    url = https://github.com/vim-scripts/SelectBuf.git
    ignore = untracked
[submodule "vim/bundle/swapit"]
    path = vim/bundle/swapit
    url = https://github.com/mjbrownie/swapit.git
[submodule "vim/bundle/ultisnips"]
    path = vim/bundle/ultisnips
    url = https://github.com/SirVer/ultisnips.git
[submodule "vim/bundle/markdown"]
    path = vim/bundle/markdown
    url = https://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/rooter"]
    path = vim/bundle/rooter
    url = https://github.com/airblade/vim-rooter.git
[submodule "vim/bundle/json"]
    path = vim/bundle/json
    url = https://github.com/Townk/vim-json.git
[submodule "vim/bundle/logs"]
    path = vim/bundle/logs
    url = https://github.com/Townk/vim-logs.git
[submodule "vim/bundle/qt"]
    path = vim/bundle/qt
    url = https://github.com/Townk/vim-qt.git
[submodule "vim/bundle/togglelist"]
    path = vim/bundle/togglelist
    url = git://github.com/milkypostman/vim-togglelist.git
[submodule "vim/bundle/easymotion"]
    path = vim/bundle/easymotion
    url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/bundle/abolish"]
    path = vim/bundle/abolish
    url = git://github.com/tpope/vim-abolish.git
[submodule "vim/bundle/multiple-cursors"]
    path = vim/bundle/multiple-cursors
    url = git://github.com/terryma/vim-multiple-cursors.git
    ignore = untracked
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/libs/funcoo"]
	path = vim/libs/funcoo
	url = git://github.com/rizzatti/funcoo.vim.git
[submodule "vim/bundle/greper"]
	path = vim/bundle/greper
	url = git://github.com/rizzatti/greper.vim.git
    ignore = untracked
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/bundle/easy-align"]
	path = vim/bundle/easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "vim/libs/vimproc"]
	path = vim/libs/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "vim/bundle/unite"]
	path = vim/bundle/unite
	url = https://github.com/Shougo/unite.vim.git
[submodule "vim/bundle/unite-outline"]
	path = vim/bundle/unite-outline
	url = https://github.com/Shougo/unite-outline.git
[submodule "vim/bundle/unite-help"]
	path = vim/bundle/unite-help
	url = https://github.com/tsukkee/unite-help.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/characterize"]
	path = vim/bundle/characterize
	url = https://github.com/tpope/vim-characterize.git
[submodule "vim/libs/misc"]
	path = vim/libs/misc
	url = https://github.com/xolox/vim-misc.git
[submodule "vim/bundle/notes"]
	path = vim/bundle/notes
	url = https://github.com/xolox/vim-notes.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
