[submodule "vim/libs/pathogen"]
    path = vim/libs/pathogen
    url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/libs/genutils"]
    path = vim/libs/genutils
    url = https://github.com/vim-scripts/genutils.git
[submodule "vim/libs/l9"]
    path = vim/libs/l9
    url = https://github.com/git-mirror/vim-l9.git
    ignore = untracked
[submodule "vim/bundle/ack"]
    path = vim/bundle/ack
    url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/fugitive"]
    path = vim/bundle/fugitive
    url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/gundo"]
    path = vim/bundle/gundo
    url = https://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/nerdcommenter"]
    path = vim/bundle/nerdcommenter
    url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/nerdtree"]
    path = vim/bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/selectbuf"]
    path = vim/bundle/selectbuf
    url = https://github.com/vim-scripts/SelectBuf.git
    ignore = untracked
[submodule "vim/bundle/swapit"]
    path = vim/bundle/swapit
    url = https://github.com/mjbrownie/swapit.git
[submodule "vim/bundle/ultisnips"]
    path = vim/bundle/ultisnips
    url = https://github.com/SirVer/ultisnips.git
[submodule "vim/bundle/fuzzyfinder"]
    path = vim/bundle/fuzzyfinder
    url = https://github.com/vim-scripts/FuzzyFinder.git
    ignore = untracked
[submodule "vim/bundle/markdown"]
    path = vim/bundle/markdown
    url = https://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/voom"]
    path = vim/bundle/voom
    url = https://github.com/vim-scripts/VOoM.git
    ignore = untracked
[submodule "vim/bundle/rooter"]
    path = vim/bundle/rooter
    url = https://github.com/airblade/vim-rooter.git
[submodule "vim/bundle/json"]
    path = vim/bundle/json
    url = https://github.com/Townk/vim-json.git
[submodule "vim/bundle/logs"]
    path = vim/bundle/logs
    url = https://github.com/Townk/vim-logs.git
[submodule "vim/bundle/qt"]
    path = vim/bundle/qt
    url = https://github.com/Townk/vim-qt.git
[submodule "vim/bundle/align"]
    path = vim/bundle/align
    url = https://github.com/vim-scripts/Align.git
    ignore = untracked
[submodule "vim/bundle/colors-solarized"]
    path = vim/bundle/colors-solarized
    url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/peepopen"]
    path = vim/bundle/peepopen
    url = https://github.com/shemerey/vim-peepopen.git
[submodule "vim/bundle/togglelist"]
    path = vim/bundle/togglelist
    url = git://github.com/milkypostman/vim-togglelist.git
[submodule "vim/bundle/youcompleteme"]
    path = vim/bundle/youcompleteme
    url = git://github.com/Valloric/YouCompleteMe.git
[submodule "vim/bundle/easymotion"]
    path = vim/bundle/easymotion
    url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/bundle/abolish"]
    path = vim/bundle/abolish
    url = git://github.com/tpope/vim-abolish.git
[submodule "vim/bundle/multiple-cursors"]
    path = vim/bundle/multiple-cursors
    url = git://github.com/terryma/vim-multiple-cursors.git
    ignore = untracked
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
